body{
margin:0;
font-family:Segoe UI, Arial;
background:#f4f6fb;
}

.header{
background:white;
padding:25px;
font-size:30px;
font-weight:600;
text-align:center;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
margin-bottom:40px;
}

.catalog{
width:1200px;
margin:auto;

display:grid;
grid-template-columns:repeat(4,1fr);

gap:30px;
}